    <!--Section: FAQ-->
    <h1 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h1>

    <div class="container-fluid px-4 py-5" id="custom-cards">  
        <div class="row row-cols-1 row-cols-lg-2 justify-content-center g-4 py-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Cosa devo fare se ho avuto un
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p> Come prima cosa noi di TizianoMotors speriamo che non ti sia fatto nulla. La prima cosa da fare è chiamare il <strong>112</strong> e il nostro servizio clienti
                          per informarci di quanto accaduto. Trovi il numero di assistenza nella pagina dei contatti.
                      </p>                   
                  </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Chi può guidare l'auto?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>
                        L'auto può essere guidata da chiunque si sia registrato al nostro portale e rispetti i seguenti requisiti:
                        <br>1. Devi avere almeno almeno 18 anni 
                        <br>2. Devi avere una patente di guida valida per autoveicoli (categoria B)
                        <br>3. Patente valida da almeno un anno                         
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Come carico la mia patente?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>
                        È sufficiente entrare all'interno dell'area personale e caricare in maniera chiaramente leggibile il lato anteriore e il lato posteriore della tua patente. 
                    </p>  
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        La mia patente sta per scadere, cosa devo fare?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                      <p>
                          Se sei già in possesso della tua nuova patente ti basterà entrare all'interno della tua area riservata, entrare nella sezione <strong> patente </strong> e caricare 
                          in maniera chiaramente leggibile il lato anteriore e il lato posteriore della tua patente.
                      </p>  
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Le auto sono assicurate?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                      <p>
                          Si, tutte le auto di TizianoMotors sono coperte da una polizza assicurativa di responsabilità civile e la tua franchigia è sempre automaticamente ridotta ad un importo specifico in 
                          caso di incidente. Tuttavia, in caso di grave negligenza, questo accordo non sussiste.
                      </p>  
                      </div>
                    </div>
                  </div>
              </div>
         </div>
       </div>
  <!--Section: FAQ-->