<div class="superForm">     
<form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="example@email.com" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4" required>
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputAddress" required>
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="inputAddress" required>
          </div>
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label">Codice Fiscale</label>
          <input type="text" class="form-control" id="inputAddress2"  required>
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Città di nascita</label>
          <input type="text" class="form-control" id="inputCity" required>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Paese di nascita</label>
          <select id="inputState" class="form-select">
            <option selected>Selezione paese</option>
            <option>Italia</option>
            <option>Germania</option>
            <option>Francia</option>
            <option>Polonia</option>
            <option>Ucraina</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputZip" class="form-label">CAP</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <fieldset class="col-md-6">
            <legend class="col-form-label col-sm-2 pt-0">Tipologia account</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Privato
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Azienda
                </label>
              </div>
             
            </div>
          </fieldset>
        
        
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Acconsento ai termini di utilizzo
            </label>
          </div>
        </div>
       
        <div class="col-12" id="btn-registrazione">
          <button type="submit" class="btn btn-primary">Registrati</button>
        </div>
      </form>
    </div>  
