
.collapse.navbar-collapse.justify-content-center {
    padding-right: 10;
}

.img-fluid.hero {
    width: 100%;
   }
   
.img-fluid.rounded-start {
    width: 300px;
    height: 300px;
}

.card-title {
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 10px;
}

.container-fluid.d-flex.justify-content-center{
    padding-top: 10%;
    border: 0;
}

.card.mb-3.shadow.p-3.mb-5.bg-white.rounded {
    width: 50%;
    border: 0;
}

.img-fluid.rounded-start {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.col-md-3 {
    width: 200px;
    height: 200px;
}

.card-title{
    width: 25%;
     
}

.text-TizianoMotors {
    padding-top: 10%;
}

.subtitle-TizianoMotors {
    padding-left: 20%;
    padding-right: 20%;
}

.card.card-cover.rounded-4 {
    border: 0;
}

.img-fluid.mx-auto.d-block {
    width: 35%;
    height: 50%;
}