  <!--Hero image-->
  <img src="../assets/heroImage.png" alt="TizianoMotors" class="img-fluid hero" aria-hidden="true">

  <!--Widget di prenotazione-->
  <div class="container-fluid d-flex justify-content-center" id="cardPrenotazione">
    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
      <div class="row g-0 justify-content-center">
        <div class="col-md-3">
          <img src="../assets/cardImage.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="text-primary">La tua auto</h4>
            <p class="card-text fs-5 fw-bold">Un auto per ogni tua esigenza. La nostra flotta vanta un'ampia scelta, dalle city car alle supercar, vieni a scegliere la tua. </p>
            <button type="button" class="btn btn-outline-primary btn-line-height:2">Prenota</button>
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="container-fluid text-center">
    <h2 class="text-TizianoMotors" style="color: #226ce0;">Perché scegliere TizianoMotors</h2>
    <p class="subtitle-TizianoMotors">Nei nostri uffici troverai sempre personale altamente qualificato che ti accompagnerà durante tutto il processo di noleggio della tua auto. 
                                      In base alle tue esigenze i nostri consulenti ti offriranno l'auto migliore per le tue richieste.</p>
  </div>

  <div class="container-fluid px-4 py-5" id="custom-cards">  
    <div class="row row-cols-1 row-cols-lg-4 justify-content-center g-4 py-5">
      <div class="col" *ngFor="let cardPresentazione of listaCard">
        <div class="card card-cover rounded-4 ">
          <div class="d-flex flex-column h-100 p-4 pb-2 text-shadow-1">
            <img src="../assets/{{cardPresentazione.img}}" class="img-fluid mx-auto d-block">
            <p class="pt-5 mt-5 mb-4 fs-5 lh-1 mx-auto">{{cardPresentazione.paragrafo}}</p>
          </div>
        </div>
      </div>
  </div>  