.collapse.navbar-collapse.justify-content-center {
    padding-right: 10;
    text-decoration: aliceblue;
}

.img-fluid.hero {
 width: 100%;
}

.img-fluid.rounded-start {
    width: 300px;
    height: 300px;
}

.card.mb-3{
    background-color: #333533;
}

.card-title {
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 5px;
}