<main> 
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;"> 
        
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> <!--inizio prima riga -->
            
            <div class="col"> 
                <div class="card h-100 shadow-sm"> 
                <img src="" class="card-img-top" alt="..."> 
                <div class="card-body"> 
                    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
                    <span class="float-end price-hp">12354.00&euro;</span> </div> 
                    <h5 class="card-title">Top del top della gamma.</h5> 
                    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
                    </div> 
                </div>
            </div> 
        </div> 
                    
        <div class="col"> 
            <div class="card h-100 shadow-sm"> 
            <img src="" class="card-img-top" alt="..."> 
            <div class="card-body"> 
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Ferrari</span> 
                <span class="float-end price-hp">12354.00&euro;</span> </div> 
                <h5 class="card-title">Top del top della gamma.</h5> 
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
                </div> 
            </div>
        </div> 
    </div>
    
    
    <div class="col"> 
        <div class="card h-100 shadow-sm"> 
        <img src="" class="card-img-top" alt="..."> 
        <div class="card-body"> 
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
            <span class="float-end price-hp">12354.00&euro;</span> </div> 
            <h5 class="card-title">Top del top della gamma.</h5> 
            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
            </div> 
        </div>
    </div> 
</div> 


<div class="col"> 
    <div class="card h-100 shadow-sm"> 
    <img src="" class="card-img-top" alt="..."> 
    <div class="card-body"> 
        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
        <span class="float-end price-hp">12354.00&euro;</span> </div> 
        <h5 class="card-title">Top del top della gamma.</h5> 
        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
        </div> 
    </div>
</div> 
</div> 
                    
                    
    </div> 
<!--Fine prima riga-->                
     
    
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
        
<!--Inizio seconda riga-->


        <div class="col"> 
            <div class="card h-100 shadow-sm"> 
            <img src="" class="card-img-top" alt="..."> 
            <div class="card-body"> 
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
                <span class="float-end price-hp">12354.00&euro;</span> </div> 
                <h5 class="card-title">Top del top della gamma.</h5> 
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
                </div> 
            </div>
        </div> 
    </div> 
                
    <div class="col"> 
        <div class="card h-100 shadow-sm"> 
        <img src="" class="card-img-top" alt="..."> 
        <div class="card-body"> 
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Ferrari</span> 
            <span class="float-end price-hp">12354.00&euro;</span> </div> 
            <h5 class="card-title">Top del top della gamma.</h5> 
            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
            </div> 
        </div>
    </div> 
</div>


<div class="col"> 
    <div class="card h-100 shadow-sm"> 
    <img src="" class="card-img-top" alt="..."> 
    <div class="card-body"> 
        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
        <span class="float-end price-hp">12354.00&euro;</span> </div> 
        <h5 class="card-title">Top del top della gamma.</h5> 
        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
        </div> 
    </div>
</div> 
</div> 


<div class="col"> 
<div class="card h-100 shadow-sm"> 
<img src="" class="card-img-top" alt="..."> 
<div class="card-body"> 
    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
    <span class="float-end price-hp">12354.00&euro;</span> </div> 
    <h5 class="card-title">Top del top della gamma.</h5> 
    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
    </div> 
</div>
</div> 
</div> 


    </div> 
<!--Fine seconda riga-->

<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
        
<!--Inizio terza riga-->

<div class="col"> 
    <div class="card h-100 shadow-sm"> 
    <img src="" class="card-img-top" alt="..."> 
    <div class="card-body"> 
        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
        <span class="float-end price-hp">12354.00&euro;</span> </div> 
        <h5 class="card-title">Top del top della gamma.</h5> 
        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
        </div> 
    </div>
</div> 
</div> 
        
<div class="col"> 
<div class="card h-100 shadow-sm"> 
<img src="" class="card-img-top" alt="..."> 
<div class="card-body"> 
    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Ferrari</span> 
    <span class="float-end price-hp">12354.00&euro;</span> </div> 
    <h5 class="card-title">Top del top della gamma.</h5> 
    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
    </div> 
</div>
</div> 
</div>


<div class="col"> 
<div class="card h-100 shadow-sm"> 
<img src="" class="card-img-top" alt="..."> 
<div class="card-body"> 
<div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
<span class="float-end price-hp">12354.00&euro;</span> </div> 
<h5 class="card-title">Top del top della gamma.</h5> 
<div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
</div> 
</div>
</div> 
</div> 


<div class="col"> 
<div class="card h-100 shadow-sm"> 
<img src="" class="card-img-top" alt="..."> 
<div class="card-body"> 
<div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
<span class="float-end price-hp">12354.00&euro;</span> </div> 
<h5 class="card-title">Top del top della gamma.</h5> 
<div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
</div> 
</div>
</div> 
</div> 


</div> 
<!--Fine terza riga-->


<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
        
    <!--Inizio quarta riga-->
    
    <div class="col"> 
        <div class="card h-100 shadow-sm"> 
        <img src="" class="card-img-top" alt="..."> 
        <div class="card-body"> 
            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
            <span class="float-end price-hp">12354.00&euro;</span> </div> 
            <h5 class="card-title">Top del top della gamma.</h5> 
            <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
            </div> 
        </div>
    </div> 
    </div> 
            
    <div class="col"> 
    <div class="card h-100 shadow-sm"> 
    <img src="" class="card-img-top" alt="..."> 
    <div class="card-body"> 
        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Ferrari</span> 
        <span class="float-end price-hp">12354.00&euro;</span> </div> 
        <h5 class="card-title">Top del top della gamma.</h5> 
        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
        </div> 
    </div>
    </div> 
    </div>
    
    
    <div class="col"> 
    <div class="card h-100 shadow-sm"> 
    <img src="" class="card-img-top" alt="..."> 
    <div class="card-body"> 
    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
    <span class="float-end price-hp">12354.00&euro;</span> </div> 
    <h5 class="card-title">Top del top della gamma.</h5> 
    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
    </div> 
    </div>
    </div> 
    </div> 
    
    
    <div class="col"> 
    <div class="card h-100 shadow-sm"> 
    <img src="" class="card-img-top" alt="..."> 
    <div class="card-body"> 
    <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Panda</span> 
    <span class="float-end price-hp">12354.00&euro;</span> </div> 
    <h5 class="card-title">Top del top della gamma.</h5> 
    <div class="text-center my-4"> <a href="#" class="btn btn-warning">Visita</a> 
    </div> 
    </div>
    </div> 
    </div> 
    
    
    </div> 
    <!--Fine quarta riga-->



    
    



</div>                
</main>
